server:
  port: 8080

spring:
  sql:
    init:
      mode: always
      platform: h2

  datasource:
    url: jdbc:h2:mem:dev-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true # hibernate 초기화 이후 정의한 sql 실행
    open-in-view: false # 영속성 컨텍스트 범위를 뷰까지 열지 않음

  h2:
    console:
      enabled: true